---
import Layout from "../layouts/Layout.astro"
import Container from "../components/Container.astro"
import Stats from "../components/Stats.astro"
import FormContaxt from "../components/FormContaxt.astro"
---


<Layout>
    <Container>
        <section>
            <div class="relative" id="home">
              <div
                aria-hidden="true"
                class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
              >
                <div
                  class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
                >
                </div>
                <div
                  class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
                >
                </div>
              </div>
              <div class="relative pt-36 ml-auto">
                <div class="lg:w-3/3 text-center mx-auto">
                  <h1
                    class="text-gray-900 dark:text-white font-bold text-5xl md:text-md xl:text-md"
                  >
                    ¡Quienes <span class="text-primary dark:text-primary select-text">somos?
                    </span>
                  </h1>
                  <p class="mt-8 text-gray-500 dark:text-gray-300 text-lg">
                    Iniciá tu reclamo GRATIS, FÁCIL Y RÁPIDO con el asesoramiento
                    especializado de nuestro</br> equipo interdisciplinario de abogados y
                    peritos accidentológicos.
                  </p>
                  <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://wa.me/5491157213143"
                      target="_blank"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Contactanos</span
                      >
                    </a>
                    <a
                      href="#faq"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Quiero saber más</span
                      >
                    </a>
                  </div>
                  <p class="mt-8 text-gray-500 dark:text-gray-300 text-lg"></p>
                </div>
              </div>
            </div>
          </section>
          <section class="py-4">
            <section>
              <div
                class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
              >
                <div
                  class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16"
                >
                  <div
                    class="mx-auto max-w-lg lg:mx-0 ltr:lg:text-left rtl:lg:text-right"
                  >
                    <h2 class="text-3xl font-bold sm:text-4xl text-white pb-8">
                      Dr Juan Alfaro
                    </h2>
                    <span class="text-2xl py-8 text-white">
                      Abogado Especialista en Responsabilidad Civil
                    </span >
      
                    <p class="mt-4 text-md text-gray-300">
                        <b>Dr. Juan Alfaro</b> es un abogado que se ha formado en el área de seguros en varias compañías aseguradoras y estudios de primera línea.
                        Se define como un amante del derecho por la diversidad enorme de campos de aplicación que tiene la labor jurídica.</br>
                        Lleva casi <b>20 años de experiencia en la profesión</b> en los que se ha desempeñado en diversas áreas, desde la gestión de siniestros y juicios tanto de parte actora como demandada, hasta el asesoramiento comercial.</br>
                        En los últimos años se ha enfocado principalmente en perfeccionar sus conocimientos en Responsabilidad Civil y ha adquirido un gran expertise en Mala Praxis Médica Profesional. 
                        Actualmente lidera el área de Responsabilidad Civil Profesional en una prestigiosa compañía de seguros.
                    </p>
      
                    <a
                      href="https://wa.me/5491157213143"
                      class="mt-8 inline-block rounded-full bg-green-500 px-12 py-3 text-lg font-bold text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"
                    >
                      Consultanos por WhatsApp
                    </a>
                  </div>
                  <div>
                    <img class="w-72 shadow-lg rounded-full drop-shadow-lg"src="images/aji-face.png" alt="">
                  </div>
                </div>
              </div>
            </section>

            <Stats />
            <FormContaxt />
          </section>
      
    </Container>
</Layout>
