---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gracias por Contactarnos | Nombre del Sitio">
  <div class="text-center mt-40">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white">¡Gracias por contactarnos!</h1>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">Nos pondremos en contacto contigo lo antes posible.</p>
  </div>
</Layout>
