<div class="bg-primary border-t-4 border-white text-white flex items-center justify-center mt-8 shadow-lg shadow-slate-400 rounded-lg max-w-full md:max-w-xl mx-auto">
  <p class="text-sm md:text-base font-bold tracking-wide text-center px-6 py-4 leading-relaxed">
    Probaremos que fuiste víctima de la Mala Praxis para que recibas la indemnización que mereces
  </p>
</div>