
<div class="bg-primary text-white flex items-center justify-center mt-6 shadow-sm shadow-slate-600 rounded-full">
  <p class="uppercase text-sm font-extrabold tracking-widest text-center px-4 py-3">
    Probaremos que fuiste victima de la Mala Praxis para que recibas la indemnizacion que mereces
  </p>
</div>