---
import Container from "../components/Container.astro";
---

<footer class="pb-20 md:py-40 bg-gray-50 dark:bg-gray-900">
  <Container>
    <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
      <div class="flex flex-col md:flex-row items-center justify-between">
        <!-- Menú de enlaces -->
        <div class="w-full md:w-7/12">
          <div class="flex justify-center md:justify-start space-x-8 text-gray-600 dark:text-gray-300">
            <ul class="space-y-4">
              <li><a href="/" class="transition hover:text-primary">Inicio</a></li>
              <li><a href="/riesgos-trabajo" class="transition hover:text-primary">ART</a></li>
              <li><a href="/mala-praxis" class="transition hover:text-primary">Mala Praxis</a></li>
            </ul>
            <ul class="space-y-4">
              <li><a href="/seguros" class="transition hover:text-primary">Seguros</a></li>
              <li><a href="/sucesiones" class="transition hover:text-primary">Sucesiones</a></li>
              <li><a href="/accidentes" class="transition hover:text-primary">Accidentes</a></li>
            </ul>
          </div>
        </div>

        <!-- Información y Copyright -->
        <div class="w-full md:w-5/12 mt-12 md:mt-0 text-center md:text-left">
          <!-- Logo -->
          <div class="flex justify-center md:justify-end mb-6">
            <a href="/">
              <img src="/logo.svg" alt="Logo" class="w-16 h-auto" />
            </a>
          </div>

          <!-- Enlaces secundarios -->
          <div class="flex flex-col sm:flex-row sm:justify-between text-gray-600 dark:text-gray-300 text-sm space-y-4 sm:space-y-0">
            <a href="/terminos" class="transition hover:text-primary">Términos</a>
            <a href="/politicas" class="transition hover:text-primary">Políticas</a>
            <a href="/nosotros" class="transition hover:text-primary">Nosotros</a>
          </div>

          <!-- Texto de pie de página -->
          <span class="block text-sm font-medium text-gray-500 dark:text-gray-400 mt-4">
            AIJ 2024 &copy; <span id="year"></span> • Powered by Kinetiqa Labs
          </span>
        </div>
      </div>
    </div>
  </Container>
</footer>
