---
import Container from "./Container.astro";
const stats = {
  title: "+650 Casos en LATAM",
  head: "Contactanos",
  feature2: "+12 empresas aseguradas",
  features: "+15 años de trayectoria",
  content:
    "Comentanos tu caso y un representante de nuestro equipo te contactará a la brevedad.",
};
---


<Container>
  <div class="feedback-container mx-auto mt-8 p-6 max-w-4xl" id="Formulario">
    <h2 class="mt-8 text-3xl font-bold text-gray-700 dark:text-white md:text-6xl pl-6">
      Contactanos
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <div class="stats p-6">
        <h2 class="text-3xl font-bold text-black dark:text-white">{stats.title}</h2>
        <h2 class="text-2xl font-bold text-primary dark:text-white">{stats.features}</h2>
        <h2 class="text-2xl font-bold mb-2 text-black dark:text-white">{stats.feature2}</h2>
        <p class="text-lg text-gray-600 dark:text-gray-300">{stats.content}</p>
      </div>
      <div class="feedback-form bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <form
          name="contact"
           method="POST"
           netlify
           action="/sucess"
        >
          <input type="hidden" name="form-name" value="contact" />
          <div class="hidden">
            <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
          </div>
          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
              Nombre Completo
            </label>
            <input
              id="name"
              type="text"
              name="name"
              required
              class="mt-1 block w-full p-3 border rounded-md focus:ring-primary focus:border-primary dark:bg-gray-700 dark:text-white"
            />
          </div>
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
              Email
            </label>
            <input
              id="email"
              type="email"
              name="email"
              required
              class="mt-1 block w-full p-3 border rounded-md focus:ring-primary focus:border-primary dark:bg-gray-700 dark:text-white"
            />
          </div>
          <div class="mb-4">
            <label for="feedback" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
              Contanos tu caso brevemente
            </label>
            <textarea
              id="feedback"
              name="message"
              required
              class="mt-1 block w-full p-3 border rounded-md focus:ring-primary focus:border-primary dark:bg-gray-700 dark:text-white"
            ></textarea>
          </div>
          <button
            type="submit"
            class="w-full px-4 py-2 mt-4 font-semibold text-white bg-primary rounded-full hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary dark:bg-primary dark:hover:bg-primary-dark"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</Container>
