---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-3/3  mx-auto">
        <div class="text-center">
          <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          Asesoramiento Jurídico <span class="text-primary dark:text-white"
            >Integral</span
          >
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">
          Abogados Especialistas en Accidentes de Tránsito, Accidentes de
          Trabajo y Mala Praxis.
        </p>
        </div>
  

        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="#formulario"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Contactanos</span
            >
          </a>
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-primary dark:text-white"
              >Quiero saber más</span
            >
          </a>
        </div>
        <div
          class="hidden py-8 mt-24 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between gap-8 mb-16"
        >
          <div
            class="grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-3 lg:divide-y-0 xl:grid-cols-3"
          >

            <div
              class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
            >
              <div class="relative space-y-8 py-12 p-8">
                <div class="space-y-2">
                  <div class="mb-6">
                    <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 256 240" enable-background="new 0 0 256 240" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M254,104.223v133.641H22.977v-46.619h74.59V148.77h69.41v-44.547H254z M143.185,40.31 c-9.222,2.818-19.043-2.391-21.861-11.614s2.391-18.957,11.614-21.775c9.222-2.903,18.957,2.306,21.861,11.528 C157.616,27.757,152.322,37.492,143.185,40.31z M2.627,97.268c1.964,5.636,8.198,8.539,13.834,6.575 c0.171-0.085,0.427-0.171,0.683-0.256L54.546,87.02l30.656,18.53l-18.53,5.551c-2.818,1.537-4.697,4.27-5.38,7.344l-5.38,41.757 c-0.256,1.708-0.085,3.587,0.512,5.294c1.964,5.721,8.198,8.625,13.834,6.661c3.843-1.366,6.575-4.782,7.088-8.625l4.355-34.157 l28.765-8.596c5.832-1.768,9.577-7.458,10.772-12.752l6.661-37.488l13.834,17.335c0.854,1.025,2.049,1.708,3.245,2.22l39.537-4.27 c0-0.085,0.085-0.085,0.085-0.085c4.013-0.256,7.173-3.587,7.173-7.685c0-4.27-3.416-7.771-7.685-7.771 c-0.085-0.085-0.085-0.085-0.171-0.085l-33.474,4.013l-24.337-32.62c-1.537-1.708-3.245-3.16-5.294-4.27L63.171,3.42 c-2.049-1.281-4.44-1.622-6.831-0.939c-4.44,1.366-6.917,5.978-5.636,10.418c0.683,2.22,2.135,3.928,4.099,4.953l40.476,23.739 l-6.661,40.903l-28.18-17.249c-2.647-1.452-5.892-1.879-8.966-0.769c-0.256,0-0.427,0.085-0.598,0.171L8.263,83.69 C3.225,85.996,0.748,91.802,2.627,97.268z M137.738,110.439h-8.288c0,10.987-8.938,19.925-19.925,19.925v8.288 C125.082,138.652,137.738,125.996,137.738,110.439z"></path> </g></svg>
                  </div>
                  <h5
                    class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
                  >
                    A.R.T (Riesgos de Trabajo)
                  </h5>
                  <p class="text-gray-600 dark:text-gray-300">
                    Especialistas en litigios sobre accidentes en el ambiente laboral y profesional.
                  </p>
                </div>
                <a
                  href="riesgos"
                  class="flex items-center justify-between group-hover:text-secondary"
                >
                  <span class="text-sm">Leer más</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div
              class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
            >
              <div class="relative space-y-8 py-12 p-8">
                <div class="space-y-2">
                  <div class="mb-6">
                    <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M215.284,237.206c-0.611,8.092-7.634,14.046-15.725,13.435c-2.595-0.153-4.428-1.069-6.718-2.137 c0,0-41.527-28.244-43.97-30.229c-4.122-3.511-8.244-7.634-10.076-13.588c-0.611-2.137-9.008-30.687-9.008-30.687L126.017,254 H41.746l2.036-32.214H23.832C11.771,221.786,2,212.015,2,199.954c0-2.901,0.458-5.649,1.527-8.092c0,0,22.596-50.687,26.871-58.932 c6.26-12.367,17.252-17.71,32.672-17.252h40.764L18.489,176.9l-7.634,17.863c-0.763,1.527-1.069,3.359-1.069,5.191 c0,7.634,6.26,13.893,13.893,13.893h70.993c12.061,0,21.832-9.771,21.832-21.832c0-10.687-7.634-19.695-17.71-21.527l20.763-55.115 h4.886c11.45,0,20.458,7.786,23.054,16.641l16.336,58.932c0.305,0.916,1.374,2.748,2.748,3.817 c1.679,1.221,43.054,29.619,43.054,29.619C213.452,227.282,215.742,232.015,215.284,237.206z M89.94,105.602 c17.863,1.374,33.435-11.908,34.809-29.771c1.374-17.863-11.908-33.435-29.771-34.809S61.542,52.93,60.168,70.792 C58.794,88.655,72.077,104.228,89.94,105.602z M108.566,191.862c0-7.176-5.496-12.977-12.367-13.741l-10.076,27.787l8.55-0.153 C102.306,205.755,108.566,199.496,108.566,191.862z M203.25,2c-27.994,0-50.75,22.715-50.75,50.668 c0,27.994,22.756,50.75,50.75,50.75S254,80.663,254,52.668C253.918,24.715,231.163,2,203.25,2z M203.25,93.391 c-22.469,0-40.723-18.254-40.723-40.723s18.254-40.723,40.723-40.723s40.723,18.254,40.723,40.723 C243.727,75.137,225.474,93.391,203.25,93.391z M228.543,42.764c-0.941-1.555-2.906-2.619-5.157-1.473l-17.967,8.022V28.071 c0-1.146-0.409-2.169-1.146-2.947l-0.041-0.041c-0.737-0.655-1.596-0.941-2.619-0.941c-1.965,0-4.011,1.473-4.011,3.929v27.79 c0,1.514,0.859,2.947,2.21,3.683c0.696,0.327,1.31,0.491,1.883,0.491c0.614,0,1.31-0.205,1.965-0.491l23.206-11.091 c1.023-0.532,1.76-1.392,2.087-2.415C229.198,44.974,229.075,43.787,228.543,42.764L228.543,42.764z"></path> </g></svg>
                  </div>
                  <h5
                    class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
                  >
                    Accidentes Personales
                  </h5>
                  <p class="text-gray-600 dark:text-gray-300">
                    Cubrimos las circunstancias de tu caso en particular con seguimiento integral.
                  </p>
                </div>
                <a
                  href="accidentes"
                  class="flex items-center justify-between group-hover:text-secondary"
                >
                  <span class="text-sm">Leer más</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div
              class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
            >
              <div class="relative space-y-8 py-12 p-8">
                <div class="space-y-2">
                  <div class="mb-6">
<svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 97.301 97.302" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M51.583,45.473c-10.849,2.372-16.271-2.68-16.553-2.95c-1.37-1.367-3.587-1.379-4.97-0.021 c-1.393,1.366-1.414,3.604-0.048,4.996c0.271,0.276,5.706,5.671,16.019,5.671c2.144,0,4.499-0.231,7.062-0.793 c1.906-0.417,3.112-2.302,2.695-4.206C55.372,46.263,53.488,45.058,51.583,45.473z"></path> <circle cx="19.542" cy="36.266" r="7.948"></circle> <path d="M93.032,68.812l-14.885-6.012c-0.516-0.207-1.066-0.314-1.621-0.314h-3.793v-0.824c0-0.422-0.109-0.814-0.291-1.165 l14.032,3.829c0.371,0.101,0.744,0.15,1.111,0.15c1.85,0,3.545-1.23,4.056-3.102c0.612-2.242-0.709-4.557-2.951-5.167 l-18.484-5.046c-0.367-0.1-0.728-0.1-1.13-0.098l-12.601,0.012c-0.587,1.387-1.812,2.48-3.391,2.826 c-2.079,0.455-4.195,0.686-6.292,0.686c-10.229,0-17.198-5.469-17.489-5.702c-1.002-0.799-1.634-1.941-1.777-3.215 c-0.145-1.275,0.216-2.53,1.017-3.534c0.916-1.15,2.286-1.809,3.757-1.809c1.074,0,2.131,0.367,2.976,1.034 c0.142,0.11,2.877,2.199,7.226,3.151l-7.761-5.004c-2.736-1.766-6.12-0.547-8.106,1.332c0,0-0.664,0.567-1.13,1.326 c-0.446,0.726-0.794,1.631-0.794,1.631L24.7,43.819c-0.899,2.602-0.61,6.175,2.136,7.947l14.744,9.508 c0.175,0.113,0.354,0.215,0.532,0.305c0,0.027-0.008,0.055-0.008,0.082v0.824h-4.193l-19.614-13.61 c0.097-0.106,0.19-0.22,0.27-0.347c0.72-1.15,0.371-2.667-0.78-3.389l-6.677-4.182c-1.121-0.703-2.584-0.384-3.327,0.698 c-1.888-0.923-4.214-0.372-5.449,1.407c-1.363,1.964-0.876,4.662,1.089,6.025l30.665,21.285c0.724,0.504,1.586,0.772,2.468,0.772 h5.717c0.364,0.981,1.302,1.684,2.407,1.684h5.439V93.15H47.47c-1.146,0-2.074,0.93-2.074,2.076s0.929,2.075,2.074,2.075h20.232 c1.146,0,2.075-0.929,2.075-2.075s-0.93-2.076-2.075-2.076h-2.983V72.828h5.438c1.106,0,2.043-0.702,2.408-1.684h3.119 l14.105,5.697c0.53,0.215,1.079,0.316,1.618,0.316c1.716,0,3.336-1.024,4.017-2.709C96.32,72.23,95.25,69.708,93.032,68.812z"></path> <path d="M37.083,37.846c7.871,0,12.233-2.105,15.077-4.597v5.456c-0.254,1.096-0.72,3.132-1.27,5.574 c0.211-0.042,0.419-0.076,0.63-0.122c0.342-0.075,0.688-0.112,1.033-0.112c2.246,0,4.227,1.594,4.708,3.791 c0.14,0.643,0.144,1.283,0.032,1.893l11.989-0.06c0.527,0,0.989,0.062,1.475,0.192l1.756,0.48 c-0.998-4.874-2.133-9.672-2.601-11.613v-6.485c1.287,2.681,2.091,6.522,2.009,12.41c-0.026,1.858,1.46,3.387,3.318,3.413 c0.018,0,0.032,0,0.049,0c1.837,0,3.34-1.476,3.363-3.319c0.225-16.004-7.793-23.512-15.5-26.364 c-0.008-0.002-0.016-0.002-0.021-0.004l-2.097,2.199l-2.159-2.175c-1.202,0.295-2.378,0.833-3.404,1.565 c-0.029,0.016-2.987,2.183-5.058,5.072c-2.41,3.259-4.491,6.072-13.332,6.072c-1.858,0-3.366,1.508-3.366,3.367 C33.716,36.339,35.224,37.846,37.083,37.846z"></path> <path d="M61.164,17.722c4.487,0,8.128-3.638,8.128-8.127c0-1.877-0.651-3.592-1.725-4.965h-2.628V3.397h1.444 c-0.506-0.425-1.056-0.799-1.654-1.092C64.113,0.949,62.75,0,61.166,0c-1.582,0-2.941,0.947-3.562,2.302 c-0.601,0.293-1.152,0.669-1.659,1.095h1.65V4.63H54.76c-1.068,1.373-1.722,3.088-1.722,4.965 C53.04,14.084,56.676,17.722,61.164,17.722z M61.166,1.714c1.219,0,2.208,0.99,2.208,2.208S62.384,6.13,61.166,6.13 c-1.217,0-2.206-0.99-2.206-2.208S59.949,1.714,61.166,1.714z"></path> </g> </g> </g></svg>
                  </div>
                  <h5
                    class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
                  >
                    Mala Praxis
                  </h5>
                  <p class="text-gray-600 dark:text-gray-300">
                    Especialistas en el área, tenemos todo para acompañarte junto a medicos legistas y personal medico adecuado.
                  </p>
                </div>
                <a
                  href="mala-praxis"
                  class="flex items-center justify-between group-hover:text-secondary"
                >
                  <span class="text-sm">Leer más</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
