---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
import "../styles/global.css";  // Importa tu archivo CSS global aquí
---


<!DOCTYPE html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Asistencia Juridica Integral">


  
		<!-- Meta Autor -->
		<meta name="author" content="Asistencia Juridica Integral">
		
		<!-- Meta Keywords -->
		<meta name="keywords" content="sucesiones, art, abogados, asistencia, caso, juridico, juicio, accidentes, accidente, asesoria, legal, departamento legal">
	  
	  
		<!-- Meta Open Graph para redes sociales -->
		<meta property="og:title" content="Asistencia Juridica Integral">
		<meta property="og:description" content="Asistencia Juridica Integral con especializacion en riesgos de trabajo y seguros.">
		<meta property="og:image" content="/icons/logo-192x192.png">
		<meta property="og:url" content="https://aji.com">
		

		<title>AJI • Asesoramiento Juridico Integral</title>
		<link rel="icon" href="/icons/logo-16x16.png" sizes="16x16" type="image/png">
		<link rel="icon" href="/icons/logo-32x32.png" sizes="32x32" type="image/png">
		<link rel="icon" href="/icons/logo-48x48.png" sizes="48x48" type="image/png">
		<link rel="icon" href="/icons/logo-64x64.png" sizes="64x64" type="image/png">
		
		<!-- Para dispositivos móviles (PWA) -->
		<link rel="apple-touch-icon" href="/icons/logo-192x192.png">
		<link rel="manifest" href="/manifest.json">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">

		  
	</head>
	<body class="bg-white dark:bg-gray-900">
		<button id="toggle-theme" style="display:none">Cambiar Tema</button>
		<AppHeader/>
		<slot />
		<AppFooter/>
		<script>
			const themeToggleButton = document.getElementById('toggle-theme');
			
			// Forzar el tema oscuro al cargar la página
			if (!localStorage.getItem('theme')) {
			  localStorage.setItem('theme', 'dark');
			}
			
			if (localStorage.getItem('theme') === 'dark') {
			  document.documentElement.classList.add('dark');
			}
		  
			// Función para cambiar entre temas
			themeToggleButton.addEventListener('click', () => {
			  const currentTheme = localStorage.getItem('theme');
			  
			  if (currentTheme === 'dark') {
				document.documentElement.classList.remove('dark');
				localStorage.setItem('theme', 'light');
			  } else {
				document.documentElement.classList.add('dark');
				localStorage.setItem('theme', 'dark');
			  }
			});
		  </script>
	</body>
</html>